<section ng-controller = "showroom as vm">
    <div class = "container">
        <div class = "row showroom_header">
            <h1>Car Guys New Vehicles</h1>
        </div>
        <div class = "row">
            <div class = "filters">
                <form>
                    <div class = "col-sm-2">
                        <div class = "form-group">
                            <select ng-model = "selectMake"
                                    class = "form-control">
                                <option value = "">Make</option>
                            </select>
                        </div>
                    </div>
                    <div class = "col-sm-2">
                        <div class = "form-group">
                            <select ng-model = "selectSeries"
                                    class = "form-control">
                                <option value = "">Series</option>
                            </select>
                        </div>
                    </div>
                    <div class = "col-sm-2">
                        <div class = "form-group">
                            <select ng-model = "selectMinPrice"
                                    class = "form-control">
                                <option value = "">Min Price</option>
                            </select>
                        </div>
                    </div>
                    <div class = "col-sm-2">
                        <div class = "form-group">
                            <select ng-model = "selectMaxPrice"
                                    class = "form-control">
                                <option value = "">Max Price</option>
                            </select>
                        </div>
                    </div>
                    <div class = "col-sm-2">
                        <div class = "form-group">
                            <select ng-model = "selectMinMile"
                                    class = "form-control">
                                <option value = "">Min Mile</option>
                            </select>
                        </div>
                    </div>
                    <div class = "col-sm-2">
                        <div class = "form-group">
                            <select ng-model = "selectMaxMile"
                                    class = "form-control">
                                <option value = "">Max Mile</option>
                            </select>
                        </div>
                    </div>
                    <div class = "col-sm-2">
                        <div class = "form-group">
                            <select ng-model = "selectYear"
                                    class = "form-control">
                                <option value = "">Year</option>
                            </select>
                        </div>
                    </div>
                    <div class = "col-sm-2">
                        <div class = "form-group">
                            <select ng-model = "selectColour"
                                    class = "form-control">
                                <option value = "">Colour</option>
                            </select>
                        </div>
                    </div>
                    <div class = "col-sm-2">
                        <div class = "form-group">
                            <select ng-model = "selectBody"
                                    class = "form-control">
                                <option value = "">Body Type</option>
                            </select>
                        </div>
                    </div>
                    <div class = "col-sm-6">
                        <div class = "form-group">
                            <input ng-model = "selectText"
                                   style = "width: 100%">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class = "row showroom_container">
            <h2 class = "coming_soon">Content coming Soon</h2>
        </div>
    </div>
</section>
<update-title title = "Car Guys | New and Used Cars for Sale"></update-title>
<update-meta property = "og:title"
             content = "Car Guys | New and Used Cars for Sale"></update-meta>
<update-meta property = "og:description"
             content = "Car Guys offer the best deals on used cars for sale in South Africa. Buy or sell cars online today."></update-meta>
<update-meta itemprop = "description"
             content = "Car Guys offer the best deals on used cars for sale in South Africa. Buy or sell cars online today."></update-meta>