<div ui-view = "homeslider"></div>
<section ng-controller = "showroom as vm">
    <div class = "container padtop">
        <div class = "row showroom_header">
            <h1>Car Guys Pre-Owned</h1>
        </div>
        <div class = "row">
            <div class = "filters">
                <form>
                    <div class = "col-sm-2">
                        <div class = "form-group">
                            <select ng-model = "selectMake"
                                    class = "form-control"
                                    ng-change = "changedMake()"
                                    ng-options = "car.make for car in vm.makeData | unique:'make' | orderBy: 'make'">
                                <option value = "">Make</option>
                            </select>
                        </div>
                    </div>
                    <div class = "col-sm-2">
                        <div class = "form-group">
                            <select ng-model = "selectSeries"
                                    class = "form-control"
                                    ng-options = "car.series for car in vm.seriesData | unique:'series' | orderBy: 'series' "
                                    ng-change = "changedSeries()">
                                <option value = "">Series</option>
                            </select>
                        </div>
                    </div>
                    <div class = "col-sm-2">
                        <div class = "form-group">
                            <select ng-model = "selectMinPrice"
                                    class = "form-control"
                                    ng-change = "changedMinPrice()">
                                <option value = ""
                                        selected = "selected"> Min Price
                                </option>
                                <option ng-repeat = " n in [] | range:51:0:10000"
                                        value = "{{n}}">
                                    {{n | currency:'R':0}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class = "col-sm-2">
                        <div class = "form-group">
                            <select ng-model = "selectMaxPrice"
                                    class = "form-control"
                                    ng-change = "changedMaxPrice()">
                                <option value = ""
                                        selected = "selected"> Max Price
                                </option>
                                <option ng-repeat = " n in [] | range:51:0:10000 "
                                        value = "{{n}}">
                                    {{n | currency:'R':0}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class = "col-sm-2">
                        <div class = "form-group">
                            <select ng-model = "selectMinMile"
                                    class = "form-control"
                                    ng-change = "changedMinMile()">
                                <option value = ""
                                        selected = "selected">Min Mile
                                </option>
                                <option ng-repeat = " n in [] | range:21:0:10000 "
                                        value = "{{n}}"> {{n | number}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class = "col-sm-2">
                        <div class = "form-group">
                            <select ng-model = "selectMaxMile"
                                    class = "form-control"
                                    ng-change = "changedMaxMile()">
                                <option value = ""
                                        selected = "selected">Max Mile
                                </option>
                                <option ng-repeat = " n in [] | range:21:0:10000 "
                                        value = "{{n}}"> {{n | number}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class = "col-sm-2">
                        <div class = "form-group">
                            <select ng-model = "selectYear"
                                    class = "form-control"
                                    ng-init = "selectYear = options[0]"
                                    ng-options = "car.year for car in vm.yearData | unique:'year' | orderBy: 'year'"
                                    ng-change = "changedYear()">
                                <option value = "">Year</option>
                            </select>
                        </div>
                    </div>
                    <div class = "col-sm-2">
                        <div class = "form-group">
                            <select ng-model = "selectColour"
                                    class = "form-control"
                                    ng-init = "selectColour = options[0]"
                                    ng-options = "car.colour for car in vm.colourData | unique:'colour' | orderBy: 'colour'"
                                    ng-change = "changedColour()">
                                <option value = "">Colour</option>
                            </select>
                        </div>
                    </div>
                    <div class = "col-sm-2">
                        <div class = "form-group">
                            <select ng-model = "selectBody"
                                    class = "form-control"
                                    ng-init = "selectBody = options[0]"
                                    ng-options = "car.body_type for car in vm.bodyData | removeWith:{body_type:''} | unique:'body_type' | orderBy: 'body_type'"
                                    ng-change = "changedBody()">
                                <option value = "">Body Type</option>
                            </select>
                        </div>
                    </div>
                    <div class = "col-sm-6">
                        <div class = "form-group">
                            <input ng-model = "selectText"
                                   style = "width: 100%">
                        </div>
                    </div>
                    <div class = "col-xs-12">
                        <button class = "btn btn-primary"
                                ng-click = "clearFilter()"
                                ng-model = "filterClear">RESET FILTERS
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class = "row">
            <div class = " paging">
                <dir-pagination-controls max-size = "6"
                                         on-page-change = "scrollToTop()"
                                         direction-links = "true"
                                         boundary-links = "true"></dir-pagination-controls>
            </div>
        </div>
        <div class = "row showroom_container">
            <div class = "col-sm-9 nopadleft">
                <div class = "col-sm-4 showroom_box"
                     dir-paginate = "car in vm.data
                 | searchField: 'make': 'variant'
                 | filter: selectText
                 | itemsPerPage: perPage">
                    <div class = "showroom_img">
                        <a ui-sref = "cardetails({'stock_id':car.stock_id,'make':car.make,'series':car.series,'year':car.year,'selling_price':car.selling_price})">
                            <img ng-src = "{{car.url1}}"
                                 src = "../../img/nopic.png"
                                 onerror = "this.onerror=null;this.src='../../img/nopic_view.png';">
                        </a>
                    </div>
                    <div>
                        <h2 class = "carmake">{{car.make}}</h2>
                        <h3 class = "carvariant">{{car.variant}}</h3>
                    </div>
                    <div class = "showroom_details">
                        <ul>
                            <li><strong>Mileage:</strong> {{car.mileage | number}}Km</li>
                            <li><strong>Year:</strong> {{car.year}}</li>
                            <li><strong>Colour:</strong> {{car.colour}}</li>
                            <li><strong>Condition:</strong> {{car.condition}}</li>
                        </ul>
                    </div>
                    <div class = "showroom_price">{{car.selling_price | currency:"R":0}}</div>
                </div>
            </div>
            <div class = "col-sm-3">
                <div class = "accordion"
                     id = "accordionExample">
                    <div class = "card">
                        <div class = "card-header"
                             id = "headingOne">
                            <h5 class = "mb-0">
                                <button class = "btn btn-link"
                                        type = "button"
                                        data-toggle = "collapse"
                                        data-target = "#collapseOne"
                                        aria-expanded = "true"
                                        aria-controls = "collapseOne">
                                    Apply to buy
                                </button>
                            </h5>
                        </div>
                        <div id = "collapseOne"
                             class = "collapse show"
                             aria-labelledby = "headingOne"
                             data-parent = "#accordionExample">
                            <div class = "card-body car_finance"
                                 ng-controller = "showroomFinance as vm">
                                <!--<editor-fold desc="FINANCE APP">-->
                                <div class = "financeBlock">
                                    <h3> Finance Application</h3>
                                    <form id = "finAppForm"
                                          name = "finAppForm"
                                          novalidate
                                          angular-validator
                                          flow-init = "{target: '/upload'}"
                                          flow-files-submitted = "$flow.upload()"
                                          flow-file-success = "$file.msg = $message"
                                          flow-files-added = "processFiles($files)"
                                          flow-name = "vm.flow">
                                        <div class = "fb-text form-group field-name">
                                            <label for = "finname"
                                                   class = "fb-text-label">
                                                <span class = "required"
                                                      ng-if = "finAppForm.finname.$error.required">*
                                                </span>
                                            </label>
                                            <input type = "text"
                                                   data-ng-model = "vm.details.name"
                                                   placeholder = "First Name"
                                                   class = "form-control"
                                                   name = "finname"
                                                   id = "finname"
                                                   validate-on = "dirty"
                                                   required-message = "'This field is required..'"
                                                   required>
                                        </div>
                                        <div class = "fb-text form-group field-lastname">
                                            <label for = "lastname"
                                                   class = "fb-text-label">
                                                <span class = "required"
                                                      ng-if = "finAppForm.lastname.$error.required">*
                                                </span>
                                            </label>
                                            <input type = "text"
                                                   data-ng-model = "vm.details.lastname"
                                                   placeholder = "Last Name"
                                                   class = "form-control"
                                                   name = "lastname"
                                                   id = "lastname"
                                                   validate-on = "dirty"
                                                   required-message = "'This field is required..'"
                                                   required>
                                        </div>
                                        <div class = "fb-text form-group field-idnumber">
                                            <label for = "idnumber"
                                                   class = "fb-text-label">
                                                <span class = "required"
                                                      ng-if = "finAppForm.idnumber.$error.required">*
                                                </span>
                                            </label>
                                            <input type = "idnumber"
                                                   data-ng-model = "vm.details.idnumber"
                                                   placeholder = "ID Number"
                                                   class = "form-control"
                                                   name = "idnumber"
                                                   id = "idnumber"
                                                   ng-minlength = "13"
                                                   validate-on = "dirty"
                                                   required-message = "'This field is required..'"
                                                   invalid-message = "'Please enter 13 digits..'"
                                                   required>
                                        </div>
                                        <div class = "fb-text form-group field-number">
                                            <label for = "number"
                                                   class = "fb-text-label">
                                                <span class = "required"
                                                      ng-if = "finAppForm.number.$error.required">*
                                                </span>
                                            </label>
                                            <input type = "number"
                                                   data-ng-model = "vm.details.number"
                                                   placeholder = "Contact Number"
                                                   class = "form-control"
                                                   name = "number"
                                                   id = "number"
                                                   ng-minlength = "10"
                                                   validate-on = "dirty"
                                                   required-message = "'This field is required..'"
                                                   invalid-message = "'Please enter at least 10 numbers..'"
                                                   required>
                                        </div>
                                        <div class = "fb-email form-group field-email">
                                            <label for = "email"
                                                   class = "fb-email-label">
                                                <span class = "required"
                                                      ng-if = "finAppForm.email.$error.required">*
                                                </span>
                                            </label>
                                            <input type = "email"
                                                   data-ng-model = "vm.details.email"
                                                   placeholder = "Email"
                                                   class = "form-control"
                                                   name = "email"
                                                   id = "email"
                                                   validate-on = "dirty"
                                                   required-message = "'This field is required..'"
                                                   required>
                                        </div>
                                        <div class = "fb-undefined form-group field-message">
                <textarea type = "textarea"
                          data-ng-model = "vm.details.message"
                          placeholder = "Additional Information"
                          class = "form-control"
                          name = "message"
                          id = "message"></textarea>
                                        </div>
                                        <div class = "fb-checkbox form-group field-permission">
                                            <label class = "fb-checkbox-label active">
                                                <input type = "checkbox"
                                                       aria-valuetext = "Yes"
                                                       id = "permission"
                                                       ng-model = "vm.details.permission"
                                                       name = "permission"
                                                       value = "Permission ganted for NCR credit check"
                                                       checked = "checked">
                                                Permission for NCR credit check
                                            </label>
                                        </div>
                                        <div class = "fb-checkbox form-group field-deposit">
                                            <label class = "fb-checkbox-label">
                                                <input type = "checkbox"
                                                       id = "deposit"
                                                       ng-model = "vm.details.deposit"
                                                       name = "deposit"
                                                       value = "Yes">
                                                Deposit?
                                            </label>
                                            <input type = "text"
                                                   id = "depositprice"
                                                   ng-show = "vm.details.deposit"
                                                   ng-model = "vm.details.depositprice"
                                                   name = "depositprice"
                                                   placeholder = "Amount">
                                        </div>
                                        <div class = "fb-checkbox form-group field-tradein">
                                            <label class = "fb-checkbox-label">
                                                <input type = "checkbox"
                                                       id = "tradein"
                                                       ng-model = "vm.details.tradein"
                                                       name = "tradein"
                                                       value = "Yes">
                                                Trade In?
                                            </label>
                                            <textarea id = "tradeindetails"
                                                      ng-show = "vm.details.tradein"
                                                      ng-model = "vm.details.tradeindetails"
                                                      name = "deposit"
                                                      placeholder = "Trade In Vehicle Details"></textarea>
                                        </div>
                                        <div class = "row">
                                            <!--  <h3>Upload Files (max 10 MiB)</h3>-->

                                            <div class = "col-xs-12 nopad"
                                                 style = "margin-top: 15px">
                                                <span class = "btn btn-success"
                                                      flow-btn>Upload File
                                                </span>
                                            </div>
                                        </div>
                                        <div class = "row">
                                            <div class = "label label-info">
                                                Total Size: {{vm.totalFileSize($flow) | byteFmt: 2 || '0'}}
                                            </div>
                                            <div id = "image-files"
                                                 class = "uploaded_row"
                                                 ng-repeat = "file in $flow.files">
                                                <span class = "title ng-binding">{{file.name}},
                                                    <span class = "bytes">{{file.size | byteFmt: 2 || '0'}}</span>
                                                </span>
                                                <a class = "image_remove"
                                                   ng-click = "file.cancel()">x
                                                </a>
                                                <div class = "progress progress-striped"
                                                     ng-class = "{active: file.isUploading()}">
                                                    <div style = "width: 100%;"
                                                         class = "progress-bar"
                                                         role = "progressbar"
                                                         aria-valuenow = "100"
                                                         aria-valuemin = "0"
                                                         aria-valuemax = "100"
                                                         ng-style = "{width: (file.progress() * 100) + '%'}">
                                                        <span class = "sr-only ng-binding">1% Completed</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class = "clear"></div>
                                        </div>
                                        <div class = "fb-button form-group field-submit"
                                             style = "margin-top: 10px">
                                            <button class = "btn btn-primary"
                                                    id = "submit1"
                                                    ng-hide = "disabled"
                                                    data-ng-disabled = "finAppForm.$invalid"
                                                    data-ng-click = "vm.sendEmail()">
                                                SUBMIT
                                            </button>
                                        </div>
                                    </form>
                                    <span id = "mailsent">Thank you for contacting us. We will get back to you as soon as possible!</span>
                                    <span id = "mailnotsent">Your request has NOT been sent</span>
                                    <span id = "spinner">
                                        <i class = "fa fa-spinner fa-spin"
                                           aria-hidden = "true"></i>
                                        Your request is being processed
                                    </span>
                                </div>
                                <!--</editor-fold>-->
                            </div>
                        </div>
                    </div>
                    <div class = "card">
                        <div class = "card-header"
                             id = "headingTwo">
                            <h5 class = "mb-0">
                                <button class = "btn btn-link collapsed"
                                        type = "button"
                                        data-toggle = "collapse"
                                        data-target = "#collapseTwo"
                                        aria-expanded = "false"
                                        aria-controls = "collapseTwo">
                                    Finance Calculator
                                </button>
                            </h5>
                        </div>
                        <div id = "collapseTwo"
                             class = "collapse "
                             aria-labelledby = "headingTwo"
                             data-parent = "#accordionExample">
                            <div class = "card-body">
                                <section id = "finance-calculator-view"
                                         class = "ng-scope"
                                         data-ng-controller = "financeCalculator as vm">
                                    <section>
                                        <form name = "calculatorForm"
                                              class = "calc_form">
                                            <div class = "form-group">
                                                <label for = "typeOfBuyer">
                                                    Are you purchasing as:
                                                </label>
                                                <select id = "typeOfBuyer"
                                                        data-ng-model = "vm.calculator.buyerType"
                                                        data-ng-options = "type.text for type in vm.calculator.typesOfBuyer"
                                                        data-ng-change = "vm.checkBuyerType();vm.calculate();"
                                                        class = "form-control">
                                                    <option value = "0"
                                                            label = "'n individu">Individual
                                                    </option>
                                                    <option value = "1"
                                                            selected = "selected"
                                                            label = "'n motor toelae koper">Car allowance buyer
                                                    </option>
                                                    <option value = "2"
                                                            label = "n maatskappy">Company
                                                    </option>
                                                </select>
                                            </div>
                                            <div class = "form-group">
                                                <label for = "price">
                                                    Vehicle Price:
                                                </label>
                                                <input id = "price"
                                                       name = "price"
                                                       type = "number"
                                                       placeholder = "R0.00"
                                                       step = "any"
                                                       data-ng-model = "vm.calculator.vehiclePrice"
                                                       data-ng-change = "vm.calculate()"
                                                       required = ""
                                                       min = "0"
                                                       class = "form-control">
                                                <div class = "error"
                                                     data-ng-show = "calculatorForm.price.$dirty && calculatorForm.price.$invalid">
                                                    <small class = "error ng-hide"
                                                           data-ng-show = "calculatorForm.price.$error.required">Price has to be a number
                                                    </small>
                                                    <small class = "error "
                                                           data-ng-show = "calculatorForm.price.$error.min">Price too low
                                                    </small>
                                                </div>
                                            </div>
                                            <div class = "form-group">
                                                <label for = "deposit">Deposit:</label>
                                                <span>
                                                    <input id = "deposit"
                                                           name = "deposit"
                                                           type = "number"
                                                           step = "any"
                                                           placeholder = "R0.00"
                                                           data-ng-model = "vm.calculator.deposit"
                                                           data-ng-change = "vm.calculate()"
                                                           required = ""
                                                           min = "0"
                                                           class = "form-control">
                                                </span>
                                                <div class = "error"
                                                     data-ng-show = "calculatorForm.deposit.$dirty &amp;&amp; calculatorForm.deposit.$invalid">
                                                    <small class = "error"
                                                           data-ng-show = "calculatorForm.deposit.$error.required">Deposit has to be a number
                                                    </small>
                                                    <small class = "error"
                                                           data-ng-show = "calculatorForm.deposit.$error.min">Deposito too low
                                                    </small>
                                                </div>
                                            </div>
                                            <div class = "form-group">
                                                <label for = "tradeIn">
                                                    Trade In:
                                                </label>
                                                <input id = "tradeIn"
                                                       name = "tradeIn"
                                                       type = "number"
                                                       step = "any"
                                                       placeholder = "R0.00"
                                                       data-ng-model = "vm.calculator.tradeIn"
                                                       data-ng-change = "vm.calculate()"
                                                       required = ""
                                                       min = "0"
                                                       class = "form-control">
                                                <div class = "error"
                                                     data-ng-show = "calculatorForm.tradeIn.$dirty &amp;&amp; calculatorForm.tradeIn.$invalid">
                                                    <small class = "error"
                                                           data-ng-show = "calculatorForm.tradeIn.$error.required">Trade In has to be a number
                                                    </small>
                                                    <small class = "error"
                                                           data-ng-show = "calculatorForm.tradeIn.$error.min">Trade In too low
                                                    </small>
                                                </div>
                                            </div>
                                            <div class = "form-group">
                                                <label class = "result"
                                                       for = "totalLoanAmount">
                                                    Total Loan Amount:
                                                </label>
                                                <input id = "totalLoanAmount"
                                                       type = "number"
                                                       step = "any"
                                                       placeholder = "R0.00"
                                                       data-ng-model = "vm.calculator.totalLoanAmount"
                                                       readonly
                                                       class = "form-control">
                                            </div>
                                            <div class = "form-group">
                                                <label for = "interestRate">Interest Rate (%):</label>
                                                <select id = "interestRate"
                                                        data-ng-model = "vm.calculator.interestRate"
                                                        data-ng-options = "type for type in vm.calculator.interestRates"
                                                        data-ng-change = "vm.calculate()"
                                                        class = "form-control"></select>
                                            </div>
                                            <div class = "form-group">
                                                <label class = "residual">Residual (Either Percentage or Value):</label>
                                                <label for = "residualPercent"
                                                       style = "float: left; width: 20%">%
                                                </label>
                                                <input id = "residualPercent"
                                                       style = "width: 80%"
                                                       name = "residualPercent"
                                                       type = "number"
                                                       step = "any"
                                                       placeholder = "0"
                                                       data-ng-model = "vm.calculator.residualPercent"
                                                       data-ng-change = "vm.calculate('percent');"
                                                       min = "0"
                                                       max = "100"
                                                       required = ""
                                                       class = "form-control">
                                                <div class = "error"
                                                     data-ng-show = "calculatorForm.residualPercent.$dirty &amp;&amp; calculatorForm.residualPercent.$invalid">
                                                    <small class = "error"
                                                           data-ng-show = "calculatorForm.residualPercent.$error.required">Residuele persentasie moet 'n nommer wees.
                                                    </small>
                                                    <small class = "error"
                                                           data-ng-show = "calculatorForm.residualPercent.$error.min">
                                                        Die res persent in is te laag.
                                                    </small>
                                                    <small class = "error"
                                                           data-ng-show = "calculatorForm.residualPercent.$error.max">
                                                        Die res persent in is te hoog.
                                                    </small>
                                                </div>
                                            </div>
                                            <div class = "form-group">
                                                <label style = "float: left; width: 20%">or R</label>
                                                <input style = "width: 80%"
                                                       type = "number"
                                                       step = "any"
                                                       name = "residualCash"
                                                       placeholder = "R0.00"
                                                       data-ng-model = "vm.calculator.residualCash"
                                                       data-ng-change = "vm.calculate('cash');"
                                                       min = "0"
                                                       required = ""
                                                       class = "form-control">
                                                <div class = "error"
                                                     data-ng-show = "calculatorForm.residualCash.$dirty &amp;&amp; calculatorForm.residualCash.$invalid">
                                                    <small class = "error"
                                                           data-ng-show = "calculatorForm.residualCash.$error.required">Residuele kontant moet 'n nommer wees.
                                                    </small>
                                                    <small class = "error"
                                                           data-ng-show = "calculatorForm.residualCash.$error.min">Die oorblywende kontant in is te laag.
                                                    </small>
                                                    <small class = "error"
                                                           data-ng-show = "calculatorForm.residualCash.$error.max">Die oorblywende kontant in is te hoog.
                                                    </small>
                                                </div>
                                            </div>
                                            <div class = "form-group">
                                                <label for = "repaymentPeriod">Repayment Period (months):</label>
                                                <select id = "repaymentPeriod"
                                                        data-ng-model = "vm.calculator.repaymentPeriod"
                                                        data-ng-options = "period for period in vm.calculator.repaymentPeriods"
                                                        data-ng-change = "vm.calculate()"
                                                        class = "form-control">
                                                    <option value = "0"
                                                            label = "6">6
                                                    </option>
                                                    <option value = "1"
                                                            label = "12">12
                                                    </option>
                                                    <option value = "2"
                                                            label = "24">24
                                                    </option>
                                                    <option value = "3"
                                                            label = "36">36
                                                    </option>
                                                    <option value = "4"
                                                            label = "42">42
                                                    </option>
                                                    <option value = "5"
                                                            selected = "selected"
                                                            label = "48">48
                                                    </option>
                                                    <option value = "6"
                                                            label = "54">54
                                                    </option>
                                                    <option value = "7"
                                                            label = "60">60
                                                    </option>
                                                    <option value = "8"
                                                            label = "72">72
                                                    </option>
                                                </select>
                                            </div>
                                            <div class = "form-group">
                                                <label class = "result"
                                                       for = "totalMonthlyInstallment">Total Monthly Installment
                                                </label>
                                                <input id = "totalMonthlyInstallment"
                                                       type = "number"
                                                       step = "any"
                                                       placeholder = "R0.00"
                                                       data-ng-model = "vm.calculator.totalMonthlyInstallment"
                                                       readonly
                                                       class = "form-control">
                                            </div>
                                            <h3 style = "font-size: 2rem">Save Money by...</h3>
                                            <div class = "form-group">
                                                <label for = "payment">Pay extra amount of:</label>
                                                <input id = "payment"
                                                       name = "payment"
                                                       type = "number"
                                                       step = "any"
                                                       placeholder = "R0.00"
                                                       data-ng-model = "vm.extraMoney.payment"
                                                       data-ng-change = "vm.calculate()"
                                                       min = "0"
                                                       required = ""
                                                       class = "form-control">
                                                <div class = "error ng-hide"
                                                     data-ng-show = "calculatorForm.payment.$dirty &amp;&amp; calculatorForm.payment.$invalid">
                                                    <small class = "error "
                                                           data-ng-show = "calculatorForm.payment.$error.required">Betaling moet 'n nommer wees.
                                                    </small>
                                                    <small class = "error "
                                                           data-ng-show = "calculatorForm.payment.$error.min">Betaling is te laag.
                                                    </small>
                                                </div>
                                            </div>
                                            <div class = "form-group">
                                                <label for = "term">Repayment period reduced to:</label>
                                                <input id = "term"
                                                       type = "number"
                                                       placeholder = "0 Months"
                                                       data-ng-model = "vm.extraMoney.reducedTerm"
                                                       readonly = ""
                                                       class = "form-control">
                                            </div>
                                            <div class = "form-group">
                                                <label class = "result"
                                                       for = "save">You save:
                                                </label>
                                                <input id = "save"
                                                       type = "number"
                                                       placeholder = "R0.00"
                                                       data-ng-model = "vm.extraMoney.save"
                                                       readonly = ""
                                                       class = "form-control">
                                            </div>
                                        </form>
                                    </section>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<update-title title = "Car Guys | New and Used Cars for Sale"></update-title>
<update-meta property = "og:title"
             content = "Car Guys | New and Used Cars for Sale"></update-meta>
<update-meta property = "og:description"
             content = "Car Guys offer the best deals on used cars for sale in South Africa. Buy or sell cars online today."></update-meta>
<update-meta itemprop = "description"
             content = "Car Guys offer the best deals on used cars for sale in South Africa. Buy or sell cars online today."></update-meta>