.paging
{
    width      : 100%;
    text-align : center;:;
}
.pagination
{
    display       : inline-block;
    padding-left  : 0;
    margin        : 10px 0;
    border-radius : 3px;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus
{
    z-index          : 2;
    color            : #fff !important;
    background-color : #002e6b;
    border-color     : #002e6b;
    cursor           : default;
}
.calc_form .form-control
{
    height : 20px;
}
.calc_form .error
{
    color      : #fff;
    background : red;
    padding    : 0 5px;
    font-size  : 1rem;
}
.calc_form h3, .car_finance h3
{
    font-size : 1.7rem !important;
    margin    : 0;
}
.calc_form label
{
    font-size     : 1.3rem;
    margin-bottom : 0;
    color         : #ec462e;

}
.calc_form input.form-control[readonly]::placeholder
{
    color : #fff;
}
.calc_form input.form-control[readonly]
{
    background    : #28a745;
    color         : #fff;
    text-align    : center;
    font-size     : 1.7rem !important;
    border-bottom : 0;
    height        : 30px;
}
.card-header .btn-link:focus
{
    outline : none;
}
.card-header .btn-link
{
    color      : #fff;
    font-size  : 1.1rem !important;
    width      : 100%;
    text-align : left;
}
.card-header h5
{
    margin : 0;
}
.card-header
{
    padding          : 4px 0px;
    margin-bottom    : 0;
    background-color : rgb(236, 70, 46);
    border-bottom    : 0;
}
.car_finance textarea::placeholder,
.car_finance input::placeholder
{
    font-size : 1.2rem;
}
.car_finance .required
{
    color       : red;
    font-size   : 1.3rem;
    font-weight : 600;
    position    : absolute;
    top         : 14px;
    left        : -8px;
}
.car_finance .label-info
{
    background-color : #ec462e;
    margin-top       : 5px;
    font-size        : 1.4rem;
    padding          : 5px;
    font-weight      : 200;
}
.image_remove
{
    background    : red;
    color         : #fff !important;
    width         : 13px;
    height        : 13px;
    display       : inline-block;
    line-height   : 1.355rem;
    text-align    : center;
    border-radius : 100%;
    position      : absolute;
    cursor        : pointer;
    font-size     : 0.9rem;
    right         : -16px;
    top           : 4px;
}
.bytes
{
    color     : #4caf50;
    font-size : 1.1rem;
}
.car_finance .uploaded_row
{
    width    : 100%;
    position : relative;
}
.car_finance .progress
{
    margin-bottom : 5px;
}
.car_finance .progress-bar
{
    background-color : #28a745;
}