.service h2
{
    font-size   : 2rem;
}
.service h3
{
    font-size   : 1.7rem;
}
.service #mailsent
{
    font-size: 1.7rem;
    display: none;
    color: #28a745;
    text-align: center;
    line-height: 1.5rem;
    padding: 20px 0;
    width: 100%;
}