<section ng-controller = "offers as vm">
    <div class = "container">
        <div class = "row showroom_header">
            <h1>Car Guys Offers</h1>
        </div>
        <div class = "row"></div>
        <div class = "row showroom_container">
            <h2 class = "coming_soon">Content coming Soon</h2>
        </div>
    </div>
</section>