<div class = "row"
     ng-controller = "Footer">
    <div class = "container"
         style = "margin-bottom: 15px">
        <div class = "col-sm-3">
            <img src = "../img/logo.png"
                 class = "footerlogo">
            <p style = "font-size: 1.1rem;line-height: 1.5rem;">We are committed to providing efficient and convenient services to our clients. With our fleet of Executive Sedans, Luxury Limousines, Luxury
                SUV’s, Shuttle Vans, mini-Coaches and Buses, we can accommodate any individual.
            </p>
        </div>
        <div class = "col-sm-3">
            <h3>Contact Us</h3>
            <ul>
                <li><strong>{{store.name}}</strong></li>
                <li>
                    <a href = "tel:{{store.tel1}}">{{store.tel1}}</a>
                </li>
                <li>{{store.address1}}</li>
                <li>
                    <a href = "mailto:{{store.eMail.contactEmail}}">{{store.eMail.contactEmail}}</a>
                </li>
            </ul>
        </div>
        <div class = "col-sm-3">
            <h3>Office Hours</h3>
            <ul>
                <li><strong>Monday - Thursday:</strong> {{store.tradinghours.monThur}}</li>
                <li><strong>Friday:</strong> {{store.tradinghours.fri}}</li>
                <li><strong>Saturday:</strong> {{store.tradinghours.sat}}</li>
                <li><strong>Sunday:</strong> {{store.tradinghours.sun}}</li>
            </ul>
        </div>
        <div class = "col-sm-3 callback_footer"
             ng-controller = "contactUs as vm">
            <h3>Request a call back:</h3>
            <form id = "contactForm"
                  name = "contactForm"
                  novalidate
                  angular-validator>
                <div class = "fb-text form-group field-name ">
                    <label for = "name"
                           class = "fb-text-label">
                        <span class = "required"
                              ng-if = "contactForm.name.$error.required">*
                        </span>
                    </label>
                    <input type = "text"
                           data-ng-model = "vm.details.name"
                           required
                           placeholder = "Your Full Name"
                           class = "form-control"
                           name = "name"
                           id = "name"
                           ng-minlength = "3"
                           validate-on = "blur"
                           invalid-message = "'You need at least 3 letters..'"
                           required-message = "'This field is required..'">
                </div>
                <div class = "fb-text form-group field-number ">
                    <label for = "number"
                           class = "fb-text-label">
                        <span class = "required"
                              ng-if = "contactForm.number.$error.required">*
                        </span>
                    </label>
                    <input type = "number"
                           data-ng-model = "vm.details.number"
                           required
                           placeholder = "Contact Number"
                           class = "form-control"
                           name = "number"
                           id = "number"
                           ng-minlength = "10"
                           validate-on = "blur"
                           invalid-message = "'You need at least 10 numbers...'"
                           required-message = "'This field is required..'">
                </div>

                <div class = "fb-button form-group field-submit col-xs-12"
                     style = "text-align: center">
                    <button type = "button"
                            data-ng-click = "vm.sendMail()"
                            data-ng-disabled = "contactForm.$invalid"
                            class = "button-input btn btn-primary"
                            name = "submit"
                            id = "submit">Submit
                    </button>
                </div>
            </form>
            <span id = "mailsent">Thank you for contacting us. We will get back to you as soon as possible!</span>
            <span id = "mailnotsent">Your request has NOT been sent</span>
            <span id = "spinner">
                <i class = "fa fa-circle-o-notch fa-spin"
                   aria-hidden = "true"></i>
                Your request is being processed
            </span>
        </div>
    </div>
</div>
<div class = "row ">
    <div class = "container ">
        <div class = "credit">&copy; 2017 All rights reserved | Powered by
            <a href = "http://www.vmgsoftware.co.za/"
               target = "_blank">VMG Webmaster
            </a>
            | 087 702 6300
        </div>
    </div>
</div>