<nav class = "navbar navbar-expand-lg navbar-light bg-light navbar-fixed-top">
    <div class = "container">
        <a class = "navbar-brand"
           ui-sref = "home">
            <img src = "../img/logo.png"
                 id = "Logo">
        </a>
        <img src = "../img/banklogos/absa.png"
             class = "mobile_bank"
             style = "max-height: 27px;margin-right: 20px; width: auto; position: relative; left: 200px">
        <img src = "../img/banklogos/wesbank.png"
             class = "mobile_bank"
             style = "max-height: 20px;margin-right: 20px; width: auto; position: relative; left: 200px">
        <img src = "../img/banklogos/std.png"
             class = "mobile_bank"
             style = "max-height: 20px;margin-right: 20px; width: auto; position: relative; left: 200px">
        <img src = "../img/banklogos/MFC.png"
             class = "mobile_bank"
             style = "max-height: 20px;width: auto; position: relative; left: 200px">
        <button class = "navbar-toggler"
                type = "button"
                data-toggle = "collapse"
                data-target = "#navbarSupportedContent"
                aria-controls = "navbarSupportedContent"
                aria-expanded = "false"
                aria-label = "Toggle navigation">
            <span class = "navbar-toggler-icon"></span>
        </button>
        <div class = "collapse navbar-collapse"
             id = "navbarSupportedContent">
            <ul class = "navbar-nav justify-content-end">
                <li class = "nav-item">
                    <a class = "nav-link"
                       ui-sref-active = "active"
                       ui-sref = "home">Home
                        <span class = "sr-only">(current)</span>
                    </a>
                </li>
                <li class = "nav-item">
                    <a class = "nav-link"
                       ui-sref-active = "active"
                       ui-sref = "vehicles">Vehicles
                    </a>
                </li>
                <!-- <li class = "nav-item">
                     <a class = "nav-link"
                        ui-sref-active = "active"
                        ui-sref = "finance">Finance
                     </a>
                 </li>-->
                <li class = "nav-item">
                    <a class = "nav-link"
                       ui-sref-active = "active"
                       ui-sref = "sell">Sell
                    </a>
                </li>
                <li class = "nav-item">
                    <a class = "nav-link"
                       ui-sref-active = "active"
                       ui-sref = "bookservice">Book Service
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<script>
    window.onscroll = function () {
        growShrinkLogo()
    };

    function growShrinkLogo() {
        var Logo = document.getElementById("Logo")
        if (document.body.scrollTop > 5 || document.documentElement.scrollTop > 5) {
            Logo.style.height = '48px';
        }
        else {
            Logo.style.height = '48px';
        }
    }
</script>