<section ng-controller = "slider">
    <flex-slider flex-slide = "s in slides track by $index"
                 animation-loop = "true"
                 direction-nav = "false"
                 randomize = "true"
                 control-nav = "false">
        <li>
            <div class = "sliderone_text">
                <div class = "slidetext_one">{{s.text1}}</div>
                <div class = "slidetext_two">{{s.text2}}</div>
                <div class = "slidetext_three">{{s.text3}}</div>
                <div class = "slidetext_four">{{s.text4}}</div>
            </div>
            <img ng-src = "{{s.url}}">
        </li>
    </flex-slider>
</section>