<section>
    <div class = "container padtop">
        <div class = "row showroom_header">
            <h1>Car Guys Finance</h1>
        </div>
        <div class = "finaincebloks">
            <p>At Car Guys we pride ourselves in providing our customers with an easy finance application process.</p>
            <div class = "col-xs-12 nopad">
                <div class = "col-sm-6 well center-block"
                     style = "text-align: center">
                    <h3> REQUIRED DOCUMENTS:</h3>
                    Barcoded ID, Drivers License,
                    <br>
                    Payslip or Bank Statement and Proof of Address
                </div>
            </div>
            <h3 style = "text-align: center"> Please select one of the options below:</h3>
            <div class = "col-md-4 col-sm-4 col-xs-12">
                <a href = ""
                   target = "_blank">
                    <div class = "fBlock">
                        Online Application (Secure Site)
                    </div>
                </a>
            </div>
            <div class = "col-md-4 col-sm-4 col-xs-12">
                <a href = "/downloads/individual.pdf"
                   target = "_blank">
                    <div class = "fBlock">
                        Individual Finance Download
                    </div>
                </a>
            </div>
            <div class = "col-md-4 col-sm-4 col-xs-12">
                <a href = "/downloads/juristic.pdf"
                   target = "_blank">
                    <div class = "fBlock">
                        Juristic Finance Download
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<update-title title = "Car Guys | Finance"></update-title>
<update-meta property = "og:title"
             content = "Car Guys | Finance"></update-meta>
<update-meta property = "og:description"
             content = "Car Guys offer the best deals on used cars for sale in South Africa. Buy or sell cars online today."></update-meta>
<update-meta itemprop = "description"
             content = "Car Guys offer the best deals on used cars for sale in South Africa. Buy or sell cars online today."></update-meta>