#Logo
{
    transition : all 0.3s;
}
.fancy
{
    font-family : 'Yesteryear', cursive;
    text-align  : center;
    color       : #fff;
    display     : table;
    width       : 100%;
    margin-top  : 50px;
    font-size   : 5.5rem;
    text-shadow : 2px 1px 0px #ec462e;
    transform   : rotate(-8deg);
}
.home_social i
{
    font-size : 4rem;
    color     : #fff;
    margin    : 0 10px;
}
.home_social
{
    text-align : center;
    width      : 100%;
    padding    : 15px 0;
}
.pr2, .pr3
{
    height : auto !important;
}
.pr2 h1
{
    margin    : 0 0 15px;
    font-size : 2.6rem !important;
}
.pr2 h2
{
    margin     : 0;
    font-size  : 3.5rem;
    text-align : center;
}
.pr2 h3
{
    margin    : 10px 0 15px;
    font-size : 1.8rem;
}
.pr2 h4
{
    font-size   : 1.5rem;
    margin      : 10px 0;
    font-weight : 600;
}
.pr2 p
{
    margin      : 0 0 1rem;
    font-size   : 1.4rem;
    line-height : 1.7rem;
}
.team h3
{
    font-size  : 1.3rem;
    margin     : 0;
    min-height : 30px;

}
.team img
{
    background : #fff;
    padding    : 4px;
    border     : 1px solid #c1c1c1;
}
.pr3
{
    background-position : 0 -140px !important;
}
.contact
{
    background : #212529;
    width      : 100%;
}
.homecontact
{
    background : #212529;
    position   : relative;
    top        : -60px;
    padding    : 30px 30px 0;
    box-shadow : 0 3px 57px -25px #000;
}
.homecontact textarea, .homecontact textarea.form-control, .homecontact input.form-control, .homecontact input[type=text], .homecontact input[type=password], .homecontact input[type=email], .homecontact input[type=number], .homecontact [type=text].form-control, .homecontact [type=password].form-control, .homecontact [type=email].form-control, .homecontact [type=tel].form-control, .homecontact [contenteditable].form-control
{
    padding            : 0;
    border             : none;
    border-radius      : 0;
    -webkit-appearance : none;
    -webkit-box-shadow : inset 0 -1px 0 #ddd;
    box-shadow         : inset 0 -1px 0 #383d42;
    font-size          : 16px;
}