<div ui-view = "homeslider"></div>
<div class = "row">
    <div ng-parallax
         class = "pr1"
         style = "width: 100%; "
         pattern = "'img/parallax/1.png'"
         speed = "0">
        <div class = "container">
            <div class = "floatingblock">
                <p class = "mainheader">25 YEARS OF EXCELLENCE</p>
                <p class = "intro">We are dedicated to providing expert car sales and finance services at affordable prices to build lasting customer relationships. We exceed expectations, and we guarantee you
                    will be no exception. Our team has over 25 years of experience and is committed to providing you the best experience possible. We reinvented the car sales process to deliver you top-grade
                    customer experience at low prices.
                </p>
                <div class = "home_social">
                    <i class = "fa fa-facebook"
                       aria-hidden = "true"></i>
                    <i class = "fa fa-twitter"
                       aria-hidden = "true"></i>
                    <i class = "fa fa-instagram"
                       aria-hidden = "true"></i>
                </div>
                <h1 class = "center-block">Services</h1>
                <div class = "row"
                     style = "padding: 0">
                    <div class = "col-sm-3 col-xs-12 blok1">
                        <div class = "">
                            <h2>Explore Vehicles</h2>
                            <p>Find the perfect pre-owned vehicle fit your budget and lifestyle</p>
                            <a ui-sref = "vehicles">Go Now</a>
                        </div>
                    </div>
                    <div class = "col-sm-3 col-xs-12 blok1">
                        <div class = "">
                            <h2>Get Financing</h2>
                            <p>Explore finance options that meet your individual needs.</p>
                            <a ui-sref = "finance">Go Now</a>
                        </div>
                    </div>
                    <div class = "col-sm-3 col-xs-12 blok1">
                        <div class = "">
                            <h2>Book Service</h2>
                            <p>We strive to always provide the best service every time you upgrade.</p>
                            <a ui-sref = "bookservice">Go Now</a>
                        </div>
                    </div>
                    <div class = "col-sm-3 col-xs-12 blok1">
                        <div class = "">
                            <h2>Sell Car</h2>
                            <p>Sell your car and recieve top dollar at Car Guys</p>
                            <a ui-sref = "sell">Go Now</a>
                        </div>
                    </div>
                </div>
                <div class = "row fancy">
                    Leisure Finance Available!
                </div>
            </div>
        </div>
    </div>
    <div ng-parallax
         class = "pr2"
         style = "width: 100%; "
         pattern = "'img/parallax/2.jpg'"
         speed = "0">
        <div class = "container">
            <div class = "row">
                <h1>About us</h1>
                <h3>Our commitments</h3>
                <p>We are committed to providing efficient and convenient services to our clients. With our fleet of Executive Sedans, Luxury Limousines, Luxury SUV’s, Shuttle Vans, mini-Coaches and Buses, we
                    can accommodate any individual.
                </p>
                <h3>Over 15,000 happy customers</h3>
                <p>What sets us apart from other pre-loved car companies is our customer services . All our patrons receive the royal treatment. We are proud to boast a sterling safety record and we are backed
                    by over 32 years of reliable car service. We strive to always provide the best possible sales and service and make you feel like royalty every time you upgrade. That is why our customers
                    return to us again and again.
                </p>
                <h1>Who we are</h1>
                <p>For thousands of customers who drive to work, to school and who also strive to reach higher standards in everything they do – we are just a phone call away to assist you in getting the car
                    suited to your pocket with the least amount of hassle.
                </p>
                <h3>Team</h3>
                <div class = "row team">
                    <div class = "col-sm-3">
                        <img src = "/img/team/jean.jpg">
                        <div>
                            <h4>Jean Cook</h4>
                            <h3>Sales</h3>
                            <p>
                                <a href = "mailto:sales@carguys.c.za">sales@carguys.c.za</a>
                            </p>
                        </div>
                    </div>
                    <div class = "col-sm-3">
                        <img src = "/img/team/lourens.jpg">
                        <div>
                            <h4>Lourens Vorster</h4>
                            <h3>Sales</h3>
                            <p>
                                <a href = "mailto:sales@carguys.c.za">sales@carguys.co.za</a>
                            </p>
                        </div>
                    </div>
                    <div class = "col-sm-3">
                        <img src = "/img/team/marnelle.jpg">
                        <div>
                            <h4>Marnelle Boshoff</h4>
                            <h3>Sales</h3>
                            <p>
                                <a href = "mailto:sales@carguys.c.za">sales@carguys.co.za</a>
                            </p>
                        </div>
                    </div>
                    <div class = "col-sm-3">
                        <img src = "/img/team/louis.jpg">
                        <div>
                            <h4>Louis Boshoff</h4>
                            <h3>Sales</h3>
                            <p>
                                <a href = "mailto:sales@carguys.co.za">sales@carguys.co.za</a>
                            </p>
                        </div>
                    </div>
                    <div class = "col-sm-3">
                        <img src = "/img/team/chris.jpg">
                        <div>
                            <h4>Chris Pattinson</h4>
                            <h3>Finance And Insurance (F&i)</h3>
                            <p>
                                <a href = "mailto:sales@carguys.co.za">customercare@carguys.co.za</a>
                            </p>
                        </div>
                    </div>
                    <div class = "col-sm-3">
                        <img src = "/img/team/william.jpg">
                        <div>
                            <h4>William Poopa</h4>
                            <h3>Driver( The Stig )</h3>
                        </div>
                    </div>
                    <div class = "col-sm-3">
                        <img src = "/img/team/jimmy.jpg">
                        <div>
                            <h4>Jimmy </h4>
                            <h3>Showroom maintenance </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class = "row contact">
        <div class = "col-sm-4 center-block homecontact"
             ng-controller = "contactUs as vm">
            <form id = "contactForm"
                  name = "contactForm"
                  novalidate
                  angular-validator>
                <div class = "fb-text form-group field-name col-sm-6">
                    <label for = "name"
                           class = "fb-text-label">
                        <span class = "required"
                              ng-if = "contactForm.name.$error.required">*
                        </span>
                    </label>
                    <input type = "text"
                           data-ng-model = "vm.details.name"
                           required
                           placeholder = "Your Full Name"
                           class = "form-control"
                           name = "name"
                           id = "name"
                           ng-minlength = "3"
                           validate-on = "blur"
                           invalid-message = "'You need at least 3 letters..'"
                           required-message = "'This field is required..'">
                </div>
                <div class = "fb-text form-group field-number col-sm-6">
                    <label for = "number"
                           class = "fb-text-label">
                        <span class = "required"
                              ng-if = "contactForm.number.$error.required">*
                        </span>
                    </label>
                    <input type = "number"
                           data-ng-model = "vm.details.number"
                           required
                           placeholder = "Contact Number"
                           class = "form-control"
                           name = "number"
                           id = "number"
                           ng-minlength = "10"
                           validate-on = "blur"
                           invalid-message = "'You need at least 10 numbers...'"
                           required-message = "'This field is required..'">
                </div>
                <div class = "fb-email form-group field-email col-sm-12">
                    <label for = "email"
                           class = "fb-email-label">
                        <span class = "required"
                              ng-if = "contactForm.email.$error.required">*
                        </span>
                    </label>
                    <input type = "email"
                           data-ng-model = "vm.details.email"
                           required
                           placeholder = "Email"
                           class = "form-control"
                           name = "email"
                           id = "email"
                           validate-on = "dirty"
                           required-message = "'This field is required..'">
                </div>
                <div class = "fb-undefined form-group field-message col-sm-12">
                    <label for = "message"
                           class = "fb-textarea-label"></label>
                    <textarea type = "textarea"
                              data-ng-model = "vm.details.message"
                              placeholder = "Message"
                              class = "form-control"
                              name = "message"
                              style = "height: 90px"
                              id = "message"></textarea>
                </div>
                <div class = "fb-button form-group field-submit col-xs-12"
                     style = "text-align: center">
                    <button type = "button"
                            data-ng-click = "vm.sendMail()"
                            data-ng-disabled = "contactForm.$invalid"
                            class = "button-input btn btn-primary"
                            name = "submit"
                            style = "margin-top: 30px"
                            id = "submit">Submit
                    </button>
                </div>
            </form>
            <span id = "mailsent">Thank you for contacting us. We will get back to you as soon as possible!</span>
            <span id = "mailnotsent">Your request has NOT been sent</span>
            <span id = "spinner">
                <i class = "fa fa-circle-o-notch fa-spin"
                   aria-hidden = "true"></i>
                Your request is being processed
            </span>
        </div>
    </div>
</div>
<update-title title = "Car Guys | New and Used Cars for Sale"></update-title>
<update-meta property = "og:title"
             content = "Car Guys | New and Used Cars for Sale"></update-meta>
<update-meta property = "og:description"
             content = "Car Guys offer the best deals on used cars for sale in South Africa. Buy or sell cars online today."></update-meta>
<update-meta itemprop = "description"
             content = "Car Guys offer the best deals on used cars for sale in South Africa. Buy or sell cars online today."></update-meta>